.marker-info{
    color: rgb(180, 172, 172);
    margin-bottom:0px
}

.short-dropdown {
    max-width: 200px;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 40px !important;
    user-select: none;
    -webkit-user-select: none;
}
